<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
            <!-- service -->
    <!--作者service-->
    <bean id="authorService" class="com.nealblog.service.impl.AuthorServiceImpl"/>
    <!--文章service-->
    <bean id="articleService" class="com.nealblog.service.impl.ArticleServiceImpl"/>
</beans>