<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nealblog.mapper.ArticleCostomMapper">

    <!--文章resultMap-->
    <resultMap id="StringResultMap" type="com.nealblog.po.ArticleEx">
        <id column="ArticleId" jdbcType="INTEGER" property="articleid"/>
        <result column="AuthorId" jdbcType="INTEGER" property="authorid"/>
        <result column="CategoryId" jdbcType="INTEGER" property="categoryid"/>
        <result column="ArticleTitle" jdbcType="VARCHAR" property="articletitle"/>
        <result column="ClickCount" jdbcType="INTEGER" property="clickcount"/>
    </resultMap>
    <!--加文章正文的文章resultMap-->
    <resultMap extends="StringResultMap" id="ResultContent" type="com.nealblog.po.ArticleEx">
        <result column="ArticleContent" jdbcType="LONGVARCHAR" property="articlecontent"/>
    </resultMap>

    <!--关联查询的resutlMap-->
    <resultMap id="AACResultMap" type="com.nealblog.po.ArticleVo">
        <!--关联作者-->
        <collection column="author" property="author" javaType="com.nealblog.po.AuthorEx">
            <result column="AuthorName" property="authorname" jdbcType="VARCHAR"/>
        </collection>
        <!--关联类别-->
        <collection column="category" property="category" javaType="com.nealblog.po.Category">
            <result column="CategoryName" property="categoryname" jdbcType="VARCHAR"/>
        </collection>
        <!--关联文章-->
        <collection column="article" property="article" javaType="com.nealblog.po.ArticleEx">
            <result column="ArticleTitle" jdbcType="VARCHAR" property="articletitle"/>
            <result column="ClickCount" jdbcType="INTEGER" property="clickcount"/>
            <result column="ArticleContent" jdbcType="LONGVARCHAR" property="articlecontent"/>
            <result column="easyContent" jdbcType="VARCHAR" property="easycontent"/>
        </collection>
    </resultMap>

    <!--查找所有文章标题，显示在目录树-->
    <select id="findArticleTitle" resultMap="StringResultMap">
    SELECT ArticleTitle,ClickCount FROM article WHERE article.ArticleTime LIKE "2017%" GROUP BY article.ClickCount DESC limit 0,61
    </select>
    <!--查找最近的文章，分页显示在右边简要显示-->
    <select id="findNowArticle" parameterType="int" resultMap="AACResultMap">
    SELECT
      article.ArticleTitle,
      author.AuthorName,
      article.ClickCount,
      article.easyContent,
      category.CategoryName
    FROM
      article,
      author,
      category
    WHERE
      article.ArticleTime LIKE "2017%"
    AND
      article.AuthorId=author.AuthorId
    GROUP BY
      ArticleTime DESC
    limit #{startpage},#{size}
  </select>

    <!--查找点击后的正文-->
    <select id="findArticleContent" parameterType="java.lang.String" resultMap="AACResultMap">
        SELECT DISTINCT
            category.CategoryName,
            author.AuthorName,
            article.ArticleTitle,
            article.ArticleContent,
            article.ClickCount
        FROM
            article,
            author,
            category
        WHERE
            article.ArticleTitle=#{ArticleTitle}
        AND
            article.AuthorId=author.AuthorId
        AND
            article.CategoryId=Category.CategoryId
    </select>

    <!--查询文章表的总记录数-->
    <select id="findPageCount" resultType="int">
        SELECT
          COUNT(*)
        FROM
          article
    </select>
    <update id="updateArticleCount" parameterType="java.lang.String">
        UPDATE article set ClickCount = ClickCount + 1 WHERE ArticleTitle=#{ArticleTitle}
    </update>
</mapper>